<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="CUEPlayer.Properties.Settings.CUEPlayerConnectionString"
      connectionString="Data Source=|DataDirectory|\CUEPlayer.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>