[submodule "ThirdParty/taglib-sharp"]
	path = ThirdParty/taglib-sharp
	url = https://github.com/gchudov/taglib-sharp.git
[submodule "ThirdParty/flac"]
	path = ThirdParty/flac
	url = https://github.com/gchudov/flac.git
[submodule "ThirdParty/MAC_SDK"]
	path = ThirdParty/MAC_SDK
	url = git@github.com:gchudov/MAC_SDK.git
[submodule "ThirdParty/openclnet"]
	path = ThirdParty/openclnet
	url = git@github.com:gchudov/openclnet.git
[submodule "ThirdParty/WavPack"]
	path = ThirdParty/WavPack
	url = git@github.com:gchudov/WavPack.git
[submodule "ThirdParty/WindowsMediaLib"]
	path = ThirdParty/WindowsMediaLib
	url = git@github.com:gchudov/WindowsMediaLib.git
