[submodule "ThirdParty/taglib-sharp"]
	path = ThirdParty/taglib-sharp
	url = https://github.com/gchudov/taglib-sharp.git
[submodule "ThirdParty/flac"]
	path = ThirdParty/flac
	url = https://github.com/xiph/flac.git
[submodule "ThirdParty/MAC_SDK"]
	path = ThirdParty/MAC_SDK
	url = https://github.com/gchudov/MAC_SDK.git
[submodule "ThirdParty/openclnet"]
	path = ThirdParty/openclnet
	url = https://github.com/gchudov/openclnet.git
[submodule "ThirdParty/WavPack"]
	path = ThirdParty/WavPack
	url = https://github.com/gchudov/WavPack.git
[submodule "ThirdParty/WindowsMediaLib"]
	path = ThirdParty/WindowsMediaLib
	url = https://github.com/gchudov/WindowsMediaLib.git
[submodule "ThirdParty/FFmpeg.AutoGen"]
	path = ThirdParty/FFmpeg.AutoGen
	url = https://github.com/Ruslan-B/FFmpeg.AutoGen.git
