.vs/
obj/
bin/
lib/
Release/
Debug/
*.vcxproj.filters
*.vcxproj.user
*.csproj.user
*.sdf
*.suo
*.opensdf
a32/
launchSettings.json
/CUETools/TestResults
/ThirdParty/*/libFLAC_dynamic.*
/ThirdParty/*/MACLib.*
/ThirdParty/*/MACLibDll.*
/ThirdParty/*/TTALib.*
/ThirdParty/*/wavpackdll.*
/ThirdParty/*/libwavpack.*
/ThirdPartyDebug/
